.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.contact{
  background-color: #efefef;
  padding: 10px;
}

#scrollbar::-webkit-scrollbar-track
{
  /*border: 1px solid black;*/
  background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#scrollbar::-webkit-scrollbar-thumb{
  background-color: #333;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 500px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#welcome
{
  text-align :right ;
}

.likes{
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: fixed;
 bottom: 0px;
 font-size: 25px;
   line-height: 60px;
   min-width: 60px;
   height: 60px;
   border-radius: 50%;
   margin: 0 0 45px 20px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.likes:hover{
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.phone {
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: fixed;
 bottom: 0px;
 font-size: 15px;
   line-height: 45px;
   min-width: 45px;
   height: 45px;
   border-radius: 50%;
   margin: 0 0 125px 25px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.phone:hover{
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.msg {
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: fixed;
 bottom: 0px;
 font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
   margin: 0 0 195px 25px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.msg:hover{
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.fb{
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: fixed;
 bottom: 0px;

 font-size: 25px;
   line-height: 45px;
   min-width: 45px;
   height: 45px;
   border-radius: 50%;
   margin: 0 0 45px 610px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.fb:hover{
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.twitter{
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: fixed;
 bottom: 0px;

 font-size: 25px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
   margin: 0 0 45px 540px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.twitter:hover{
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.help{
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 position: fixed;
 bottom: 0px;

 font-size: 25px;
   line-height: 35px;
   min-width: 35px;
   height: 35px;
   border-radius: 50%;
   margin: 0 0 45px 470px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.help:hover{
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}